server {
  listen 8080;
  
  #Docker internal dns server
  resolver 127.0.0.11;
  
  location /ping {
        access_log off; #disables logging for this request (location)
        add_header 'Content-Type' 'text/plain'; #ensures response is plain text
        return 200 "pong";
  }
  location /node-api {
        proxy_set_header X-Forwarded-Host $host; #passes original host
        proxy_set_header X-Forwarded-Server $host; #passes server name
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; #tracks the original client’s IP address
        proxy_http_version 1.1; #ensures HTTP/1.1 is used for better performance

        set $node_api_upstream http://node-api:3000/; #sets API's internal docker address
        proxy_pass $node_api_upstream; #pass request
  }
  location / {
    root /usr/share/nginx/html; #main file's path
    index index.html index.htm;
    try_files $uri $uri/ /index.html =404; #$uri means the requested URL path. try_files checks for existence of it
  }
  
  include /etc/nginx/extra-conf.d/*.conf; #includes extra configuration files from /etc/nginx/extra-conf.d/ allowing modular configuration instead of putting everything in a single file
}